.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e; /* Matches navbar color */
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.job-header h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #ECF0F1; /* Light text for contrast */
}

.job-type {
  padding: 5px 10px;
  background-color: #1ABC9C; /* Accent color for job type label */
  color: #ECF0F1; /* Light text for contrast */
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
}
.pagination-btn {
  background-color: #34495e;
  border-color: #34495e;
  color: #ffffff;
}

.pagination-btn:hover {
  background-color: #2c3e50; /* Darker shade for hover */
  border-color: #2c3e50;
}

.pagination-btn:disabled {
  background-color: #95a5a6;
  border-color: #95a5a6;
  color: #7f8c8d;
}